@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    display: flex;
    align-items: center;
    padding: 1px 1%;
    background-color: #24272C;
    
}

.logolinkcolor{
    background-color: #24272C
}
.logo {
    cursor: pointer;
    background-color: #24272C
}
.mobile-menu a{
    font-family: "Inter", sans-serif;
        color: #edf0f1;
        background-color: black;
        font-weight: bold;
        position: relative;
        text-decoration: none;
        padding: 0 10px;
}
.nav__links a{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    color: #edf0f1;
    background-color: #24272C;
    text-decoration: none;
    margin: 0 20px;
    
}

.nav__links,.mobile-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #24272C;
    
}
.nav__links li::marker{
    color:red;
}
.mobile-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: black;

}
/*tarpai tarp tekstu*/
.nav__links li,
.mobile-menu li {
    background-color: #24272C;
}

.nav__links li a:hover,.mobile-menu li a:hover {
    color: #5EFC19;
}

.active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 100%;
    height: 1px;
    background: #5EFC19;
    border-radius: 40px;
}
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    right: 25px;
    position: absolute;
    background-color: #24272C;
    
}
#hamburger-icon div{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.5s;
}


.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: -255px;
    height: calc(100vh - 50px);
}

.mobile-menu li {
    margin-bottom: 10px;
    
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}
